<div class="container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button routerLink="/dashboard/dashboard" (click)="drawer.toggle()"><mat-icon>dashboard</mat-icon> Dashboard</button>
      <button routerLink="/dashboard/users" (click)="drawer.toggle()"><mat-icon>group</mat-icon> Users</button>
      <button routerLink="/dashboard/messages" (click)="drawer.toggle()"><mat-icon>message</mat-icon> Messages</button>
      <button routerLink="/dashboard/feedbacks" (click)="drawer.toggle()"><mat-icon>reviews</mat-icon> Feedbacks</button>
      <button routerLink="/dashboard/edit-template" (click)="drawer.toggle()"><mat-icon>mail_outline</mat-icon> Mass Mailer</button>
      <button routerLink="/dashboard/gallery" (click)="drawer.toggle()"><mat-icon>add_photo_alternate</mat-icon> Gallery</button>
      <button routerLink="/dashboard/settings" (click)="drawer.toggle()"><mat-icon>settings</mat-icon>Settings</button>
      <button (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="collapse-btn">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>

    </div>

  </mat-drawer-container>
</div>
