.contact-wrapper{
  width: 100%;

  .contact-item{
    flex: 1;
    min-height: 200px;
    padding: 3vw 2vw;
    background-color: rgba(0,0,0,0.7);

    i{
      margin: 0 10px;
      font-size: 30px;
      color: white;
    }
    i:hover{
      color: #13E8E9;
      cursor: pointer;
    }

    .contact-form{
      padding: 10px;

      .contact-form-full-width{
        width: 100%;
      }

      .submit-btn{
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: #ccbaa4;
        color: white;
      }
    }
  }
}

.feedback-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5vw;

  .table{
    width: 100%;
    margin-top: 5vw;

    tbody{
      tr{
        display: block;
        border: 2px solid black;
        border-radius: 20px;
        padding: 25px 30px;
        margin-bottom: 20px;

        span{
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }

  span:hover{
    cursor: pointer;
  }
}
