<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Contact</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> Contact</span></h3>
    </div>
  </div>
</div>

<div class="d-md-flex contact-wrapper">
  <div class="contact-item">
    <span class="sub-heading-1">CONTACT US</span>
    <div class="title-1">Let’s Scale Your Brand, Together</div>
    <p class="p-2">Scaling a business can be a challenging task, particularly when it comes to expanding its operations
      and increasing its reach in the market. At our company, we understand the complexities and nuances of business
      growth and are dedicated to helping our clients achieve their expansion goals. With our expertise and support, we
      can help to scale your business and take it to the next level.</p>
    <div class="p-1" style="font-weight: bold; font-size: 20px">Contact Us</div>
    <div class="p-1">Matara, Kamburupitiya</div>
    <div class="p-1">info@flexi-art.com</div>
    <div class="p-1">+94 74 190 8274</div>
    <div class="d-flex align-items-center justify-content-start">
      <a href="https://web.facebook.com/profile.php?id=100091402292050"><i class='fab fa-facebook-f'></i></a>
      <a href="https://www.instagram.com/flexiart_it_solutions_/"><i class='fab fa-instagram'></i></a>
      <i class='fab fa-twitter'></i>
      <a href="https://www.youtube.com/channel/UC030E93Q3gKWMMCn5rEbLHA"><i class='fab fa-youtube'></i></a>
    </div>
  </div>
  <div class="contact-item" style="background-color: white">
    <div class="title-3">Contact Us</div>
    <p class="p-3">Are you ready to start your project? Please contact us here. We are always ready to help you to grow
      your business in the digital world.</p>

    <div *ngIf="loading" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="d-flex flex-column align-items-center justify-content-center"
             style="width: 80%; padding: 30px; border: 1px solid #13E8E9; border-radius: 25px; background-color: rgba(255,255,255,.5)">
          <img src="./assets/img/asset/small_loading.gif" alt="loading" title="Loading" width="60" height="60">
          <div class="loading-count" style="color: black">Sending...</div>
        </div>
      </div>
    </div>

    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="sendMsg()">

      <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Ex. kavindu kokila">
      </mat-form-field>

      <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      </mat-form-field>

      <div class="d-flex" style="width: 100%">
        <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message" placeholder="Ex. Message" autocomplete="on"></textarea>
        </mat-form-field>
      </div>

<!--      <p class="contact-form-full-width" id="voice-para">{{voiceService.text}}-->
<!--      </p>-->

      <button class="button-5">Send Message</button>
    </form>

<!--    <div class="d-flex">-->
<!--      <button class="button-4" [ngStyle]="{'background-color':voiceBtn?'#aaa':'#13E8E9'}" (click)="recordBtn()">-->
<!--        <mat-icon>mic</mat-icon>-->
<!--      </button>-->
<!--      <button (click)="patchValue()" style="background-color: transparent; border: none">-->
<!--        <mat-icon>done</mat-icon>-->
<!--      </button>-->
<!--    </div>-->


  </div>
</div>

<div class="feedback-wrapper">
  <div class="title-3">
    Rate Us
  </div>

  <form [formGroup]="starForm">
    <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
    <div>Rating: {{starForm.value.rating}} / 5</div>
    <!--    <p>form is valid: {{ starForm.valid ? 'true' : 'false' }}</p>-->
  </form>

  <table class="table">
    <tbody>
    <tr>
      <div class="d-flex align-items-center" style="height: 40px; padding: 0; margin: 0;"><img
        src="https://thenounproject.com/api/private/icons/2011989/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
        alt="dp" style="height: 100%" title="Anonymous"><span style="color: black">Anonymous</span></div> <br>
      I strongly recommend this company to get created your projects on time.. The staff is so customer friendly. They
      created a superb website for my online classes, it is easy to use and it worths the amount i paid to their
      company.
    </tr>
    <tr>
      <div class="d-flex align-items-center" style="height: 40px; padding: 0; margin: 0;"><img
        src="https://thenounproject.com/api/private/icons/2011989/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
        alt="dp" style="height: 100%" title="M A T Pramuditha"><span style="color: black">M A T Pramuditha</span></div> <br>
      I'm so glad to find flexiart company to solve my bussiness problem. They completed the task with a minimum
      time duration, maintaining the quality of it.
    </tr>
    </tbody>
  </table>

  <span routerLink="/feedbacks">See more..</span>
</div>

<div class="mapouter">
  <div class="gmap_canvas">
    <iframe width="100%" height="100%" id="gmap_canvas"
            src="https://maps.google.com/maps?q=california&t=k&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0"
            scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <style>.mapouter {
      position: relative;
      text-align: right;
      height: 100%;
      width: 100%;
    }</style>
    <style>
      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 100%;
        width: 100%;
      }</style>
  </div>
</div>
