.list-messages {
  display: flex;
  flex-direction: column;
  margin: 4vw 0 0 0;
  border: 1px solid #13E8E9;
  height: 300px;
  background-color: white;
  padding: 2vw 0;
  overflow-y: auto;
}

.left-message {
  display: flex;
  margin-left: 10px;
}

.right-message {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.input-message {
  border-top: 2px solid grey;
  height: 70px;
  background-color:lightskyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  margin-bottom: 4vw;
}

.input-text-message {
  height: 70%;
  width: 85%;
}

.input-send {
  color: #13E8E9;
  left: 7px;
  top: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;

  .mat-icon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
