#service-sec, #works-sec, #join-us-sec{
  margin-bottom: 70px;

  .service-content{
    flex: 1;
    width: 100%;
    padding: 3vw;
    background-color: rgba(0,0,0,0.5);
  }

  .mat-icon{
    color: white;
    font-size: 35px;
  }

  img{
    width: 100%;
  }
}
