<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Services</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> Services</span></h3>
    </div>
  </div>
</div>

<section id="service-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="service-content" style="margin-top: 30px; padding: 0">
        <span class="sub-heading-1">SERVICES</span>
        <div class="title-1">Our Services</div>
        <p class="p-1">We have web developers and mobile developers basically. We can help you with front-end
          development, back-end development and mobile development. Furthermore we can help you to manage databases,
          design UI/UX and etc.</p>
      </div>
      <div class="service-content" style="margin-top: 30px; padding: 0"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content"
           style="background-color: #222; background-image:url('./assets/img/service/mob.png');background-position: center">
        <div class="d-flex justify-content-between align-items-center">
          <span class="title-1">Mobile Development</span>
          <div style="width: 25%" class="d-flex align-items-center justify-content-center">
            <!--            <mat-icon>phone_iphone</mat-icon>-->
            <img src="./assets/icons/mobile%20dev.png" alt="ico" width="480">
          </div>
        </div>
        <p class="p-1" style="background-color: rgba(0,0,0,.5)">We work with Java, React-native and flutter for mobile
          application development. We mostly work
          with cross platform technologies.</p>
        <button class="button-2" routerLink="/mobile-dev">Discover more</button>
      </div>
      <div class="service-content"
           style="background-color: #333; background-image:url('./assets/img/service/web.png');background-position: center">
        <div class="d-flex justify-content-between align-items-center">
          <span class="title-1">Web Development</span>
          <div style="width: 25%" class="d-flex align-items-center justify-content-center">
            <!--            <mat-icon>phone_iphone</mat-icon>-->
            <img src="./assets/icons/web%20dev.png" alt="ico" width="480">
          </div>
        </div>
        <p class="p-1" style="background-color: rgba(0,0,0,.5)">We are work with MEAN stack and MERN stack for web
          development. We work with wordpress also.
          But we are mostly working with MEAN stack.</p>
        <button class="button-2" routerLink="/web-dev">Discover more</button>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content"
           style="background-color: #333; background-image:url('./assets/img/service/frontend.png');background-position: center">
        <div class="d-flex justify-content-between align-items-center">
          <span class="title-1">Frontend Development</span>
          <div style="width: 25%" class="d-flex align-items-center justify-content-center">
            <!--            <mat-icon>phone_iphone</mat-icon>-->
            <img src="./assets/icons/frontend.png" alt="ico" width="480">
          </div>
        </div>
        <p class="p-1" style="background-color: rgba(0,0,0,.5)">We make front-ends with best UI/UX designs. We are most
          familiar with Angular, React and React
          native platforms. Also we work with node modules.</p>
        <button class="button-2" routerLink="/frontend-dev">Discover more</button>
      </div>
      <div class="service-content"
           style="background-color: #222; background-image: url('./assets/img/service/backend.png');background-position: center">
        <div class="d-flex justify-content-between align-items-center">
          <span class="title-1">Back-end Development</span>
          <div style="width: 25%" class="d-flex align-items-center justify-content-center">
            <!--            <mat-icon>phone_iphone</mat-icon>-->
            <img src="./assets/icons/backend.png" alt="ico" width="480">
          </div>
        </div>
        <p class="p-1" style="background-color: rgba(0,0,0,.5)">We using Express.js, Next.js, Vue.js, Spring Boot, Java
          and etc. for make backends to your
          applications. We mostly work with AWS and using MongoDB or Firebase to store your data.</p>
        <button class="button-2" routerLink="/backend-dev">Discover more</button>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content"
           style="background-color: #222; background-image: url('./assets/img/service/graphic.png');background-position: center">
        <div class="d-flex justify-content-between align-items-center">
          <span class="title-1">Graphic Design</span>
          <div style="width: 25%" class="d-flex align-items-center justify-content-center">
            <!--            <mat-icon>phone_iphone</mat-icon>-->
            <img src="./assets/icons/graphic.webp" alt="ico" width="450">
          </div>
        </div>
        <p class="p-1" style="background-color: rgba(0,0,0,.5)">We are doing any type of graphic designing services for
          you. Ex: Flyers design, logo design, Posters design, Brochures design, Re-touching and many more..</p>
        <button class="button-2" routerLink="/backend-dev">Discover more</button>
      </div>
      <div class="service-content"
           style="background-color: #333; background-image:url('./assets/img/service/marketing.png');background-position: center">
        <div class="d-flex justify-content-between align-items-center">
          <span class="title-1">Social Media Marketing</span>
          <div style="width: 25%" class="d-flex align-items-center justify-content-center">
            <!--            <mat-icon>phone_iphone</mat-icon>-->
            <img src="./assets/icons/marketing.webp" alt="ico" width="480">
          </div>
        </div>
        <p class="p-1" style="background-color: rgba(0,0,0,.5)">We can help you to grow your business through social
          media platforms. We are manage everything you need.</p>
        <button class="button-2" routerLink="/frontend-dev">Discover more</button>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content"
           style="background-color: #333; background-image:url('./assets/img/service/data entry.png');background-position: center">
        <div class="d-flex justify-content-between align-items-center">
          <span class="title-1">Data Entry</span>
          <div style="width: 25%" class="d-flex align-items-center justify-content-center">
            <!--            <mat-icon>phone_iphone</mat-icon>-->
            <img src="./assets/icons/data%20entry.webp" alt="ico" width="480">
          </div>
        </div>
        <p class="p-1" style="background-color: rgba(0,0,0,.5)">Most companies are tired with their users data entry
          part all around the world. We can do the data entry part of your company. You can relax with it.</p>
        <button class="button-2" routerLink="/frontend-dev">Discover more</button>
      </div>
      <div class="service-content"
           style="background-color: #222; background-image: url('./assets/img/service/typesetting.png');background-position: center">
        <div class="d-flex justify-content-between align-items-center">
          <span class="title-1">Typesetting</span>
          <div style="width: 25%" class="d-flex align-items-center justify-content-center">
            <!--            <mat-icon>phone_iphone</mat-icon>-->
            <img src="./assets/icons/typing.webp" alt="ico" width="480">
          </div>
        </div>
        <p class="p-1" style="background-color: rgba(0,0,0,.5)">Are you a writer? Do you have lots of words to type?
          Company documents are stored as photos? Give it to us. We can type them for you.</p>
        <button class="button-2" routerLink="/backend-dev">Discover more</button>
      </div>
    </div>

    <div class="d-md-flex" style="margin-top: 80px">
      <div class="service-content" style="padding: 0">
        <img src="./assets/img/service/work-together.jpg" alt="work">
      </div>
      <div class="service-content" style="padding: 10px 50px">
        <span class="sub-heading-1">CONTACT</span>
        <div class="title-2" style="margin: 20px 0">Let's Work Together!</div>
        <p class="p-1">Do you have a business? Do you want to grow your business faster? We can help you. Nowadays we
          are in a digital world and we know how to reach people smartly. So we can help you to reach your business to
          customers. We can do all of your digital needs quickly and friendly.</p>
        <button class="button-3" routerLink="/contact">Contact Us Now</button>
      </div>
    </div>

  </div>
</section>
