<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Services</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> Services</span></h3>
    </div>
  </div>
</div>

<section id="service-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="service-content" style="margin-top: 30px; padding: 0">
        <span class="sub-heading-1">SERVICES</span>
        <div class="title-1">Our Services</div>
        <p class="p-1">We have web developers and mobile developers basically. We can help you with front-end
          development, back-end development and mobile development. Furthermore we can help you to manage databases,
          design UI/UX and etc.</p>
      </div>
      <div class="service-content" style="margin-top: 30px; padding: 0"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #40407a">
        <div class="d-flex justify-content-between">
          <span class="title-1">Mobile Development</span>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>phone_iphone</mat-icon>
          </div>
        </div>
        <p class="p-1">We work with Java, React-native and flutter for mobile application development. We mostly work
          with cross platform technologies.</p>
        <button class="button-2" routerLink="/mobile-dev">Discover more</button>
      </div>
      <div class="service-content" style="background-color: #227093">
        <div class="d-flex justify-content-between">
          <div class="title-1">Web Development</div>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>public</mat-icon>
          </div>
        </div>
        <p class="p-1">We are work with MEAN stack and MERN stack for web development. We work with wordpress also.
          But we are mostly working with MEAN stack.</p>
        <button class="button-2" routerLink="/web-dev">Discover more</button>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #227093">
        <div class="d-flex justify-content-between">
          <span class="title-1">Front-end Development</span>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>auto_awesome_mosaic</mat-icon>
          </div>
        </div>
        <p class="p-1">We make front-ends with best UI/UX designs. We are most familiar with Angular, React and React
          native platforms. Also we work with node modules.</p>
        <button class="button-2" routerLink="/frontend-dev">Discover more</button>
      </div>
      <div class="service-content" style="background-color: #40407a">
        <div class="d-flex justify-content-between">
          <div class="title-1">Back-end Development</div>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>dns</mat-icon>
          </div>
        </div>
        <p class="p-1">We using Express.js, Next.js, Vue.js, Spring Boot, Java and etc. for make backends to your
          applications. We mostly work with AWS and using MongoDB or Firebase to store your data.</p>
        <button class="button-2" routerLink="/backend-dev">Discover more</button>
      </div>
    </div>

    <div class="d-md-flex" style="margin-top: 80px">
      <div class="service-content" style="padding: 0">
        <img src="./assets/img/service/work-together.jpg" alt="work">
      </div>
      <div class="service-content" style="padding: 10px 50px">
        <span class="sub-heading-1">CONTACT</span>
        <div class="title-2" style="margin: 20px 0">Let's Work Together!</div>
        <p class="p-1">Do you have a business? Do you want to grow your business faster? We can help you. Nowadays we
          are in a digital world and we know how to reach people smartly. So we can help you to reach your business to
          customers. We can do all of your digital needs quickly and friendly.</p>
        <button class="button-3" routerLink="/contact">Contact Us Now</button>
      </div>
    </div>

  </div>
</section>
