<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>About Us</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> About Us</span></h3>
    </div>
  </div>
</div>

<section id="about-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="about-content">
        <img src="./assets/img/home/sec-about.jpg" alt="about-sec">
      </div>
      <div class="about-content">
        <span class="sub-heading-1">ABOUT US</span>
        <div class="title-1">We’re On Mission To Help Business Grow Faster Than Ever.</div>
        <p class="p-1">Our software company envisions a future where innovative technology solutions are accessible and
          easy to use. We are
          committed to creating software that is flexible, user-friendly, and designed to solve complex problems. With a
          focus
          on responsive and hybrid development, we prioritize maintenance and customer support to ensure seamless
          integration
          and maximum efficiency. Our approach is rooted in data-driven analysis, enabling us to deliver reliable,
          cutting-edge
          software that sets new standards in the industry. We strive to be a trusted partner for businesses looking to
          transform
          their digital landscape, offering comprehensive services that exceed expectations and drive growth.</p>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="about-content">
        <span class="sub-heading-1">OUR VISION</span>
        <div class="title-1">To Fulfill Your Needs Through Unique Service.</div>
        <p class="p-1">Our vision is to revolutionize the digital landscape by providing flexible and innovative web
          development solutions
          that prioritize customer support and maintenance. Through responsive and hybrid development, we are committed
          to
          creating user-friendly platforms that solve complex problems with data-driven analysis. We strive to be the
          go-to
          company for businesses looking to elevate their online presence, offering a comprehensive suite of services
          that exceed
          expectations and set new industry standards.</p>
      </div>
      <div class="about-content">
        <img src="./assets/img/about/sub-banner-2.jpg" alt="about-sec">
      </div>
    </div>

    <div class="d-md-flex">
      <div class="about-content">
        <img src="./assets/img/about/sub-banner-3.jpg" alt="about-sec">
      </div>
      <div class="about-content">
        <span class="sub-heading-1">ABOUT US</span>
        <div class="title-1">Our Values.</div>
        <p class="p-1">We have experienced crew for work and they always try to do their best. We are always friendly
          with our clients and try to response our clients soon as possible.</p>
        <ul class="ul-1">
          <li>24/7 Service</li>
          <li>100% Reliability</li>
          <li>Experienced Team</li>
          <li>Quick Support</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="meet-team">
  <div class="container">
    <div class="d-md-flex">
      <div class="meet-team-cont">
        <img src="./assets/img/about/ceo.jpg" alt="ceo">
      </div>
      <div class="meet-team-cont" style="padding: 80px 60px">
        <span class="sub-heading-1">TEAM</span>
        <div class="title-1" style="margin-bottom: 20px">Meet Our Team</div>
        <p class="p-1">We have a well-experienced team and will friendly service for you. Few of our professionals and
          expert employees are here. You can contact them anytime.
        </p>
        <div class="title-2">Kavindu Kokila</div>
        <span class="sub-heading-1">FOUNDER & CEO</span>
        <p class="p-1" style="margin-top: 20px">Flexiart is a company always looking for individuals who are open to
          learning new things, while simultaneously deepening their existing knowledge by gaining experience.</p>
        <a href="https://kavindu-kokila-gayashan.netlify.app/" target="_blank" class="sub-heading-1">
          <mat-icon>language</mat-icon> &nbsp;&nbsp;Personal website</a>
      </div>
    </div>

    <div style="overflow-x: auto; display: flex; min-height: 200px; width: 100%;">
      <div class="employees">
        <div class="overlay-employee">
          <div class="employee">
            <img src="./assets/img/about/secretary.jpg" alt="secretary">
            <div class="employee-cont">
              <span class="sub-heading-1">SECRETARY</span>
              <h4>Thenuri Pramuditha</h4>
              <a href="https://web.facebook.com/profile.php?id=100081991212010" class="sub-heading-1">Contact</a>
            </div>
          </div>
        </div>
      </div>
      <div class="employees">
        <div class="overlay-employee">
          <div class="employee">
            <img src="./assets/img/about/se1.jpg" alt="se-1">
            <div class="employee-cont">
              <span class="sub-heading-1">SOFTWARE ENGINEER</span>
              <h4>Lahiru Sampath</h4>
              <a href="https://www.linkedin.com/in/lahiru-sampath-6a189520/" class="sub-heading-1">Contact</a>
            </div>
          </div>
        </div>
      </div>
      <div class="employees">
        <div class="overlay-employee">
          <div class="employee">
            <img src="./assets/img/about/se1.jpg" alt="se-1">
            <div class="employee-cont">
              <span class="sub-heading-1">SOFTWARE ENGINEER</span>
              <h4>Lahiru Sampath</h4>
              <a href="https://www.linkedin.com/in/lahiru-sampath-6a189520/" class="sub-heading-1">Linkedin</a>
            </div>
          </div>
        </div>
      </div>
      <div class="employees">
        <div class="overlay-employee">
          <div class="employee">
            <img src="./assets/img/about/se1.jpg" alt="se-1">
            <div class="employee-cont">
              <span class="sub-heading-1">SOFTWARE ENGINEER</span>
              <h4>Lahiru Sampath</h4>
              <a href="https://www.linkedin.com/in/lahiru-sampath-6a189520/" class="sub-heading-1">Linkedin</a>
            </div>
          </div>
        </div>
      </div>
      <div class="employees">
        <div class="overlay-employee">
          <div class="employee">
            <img src="./assets/img/about/se1.jpg" alt="se-1">
            <div class="employee-cont">
              <span class="sub-heading-1">SOFTWARE ENGINEER</span>
              <h4>Lahiru Sampath</h4>
              <a href="https://www.linkedin.com/in/lahiru-sampath-6a189520/" class="sub-heading-1">Linkedin</a>
            </div>
          </div>
        </div>
      </div>
      <div class="employees">
        <div class="overlay-employee">
          <div class="employee">
            <img src="./assets/img/about/se1.jpg" alt="se-1">
            <div class="employee-cont">
              <span class="sub-heading-1">SOFTWARE ENGINEER</span>
              <h4>Lahiru Sampath</h4>
              <a href="https://www.linkedin.com/in/lahiru-sampath-6a189520/" class="sub-heading-1">Linkedin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
