<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Works</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> Works</span></h3>
    </div>
  </div>
</div>

<section id="works-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="service-content" style="margin-top: 30px">
        <span class="sub-heading-1">WORKS</span>
        <div class="title-1">Our Works</div>
        <p class="p-1">We are a newly started company and we basically work with MEAN stack and MERN stack. We work
          with cross platform technologies also.</p>
      </div>
      <div class="service-content"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content bg-images"
           style="background-image: url('./assets/img/home/work-1.jpg');min-height: 320px"></div>
      <div class="service-content" style="background-color: #40407a">
        <span class="sub-heading-1">WEB DEVELOPMENT - E EDUCATION</span>
        <div class="title-2">We have developed E Education web application for online tuition class</div>
        <p class="p-1">E Education application is platform to students for choose their subject scheme and find best
          teachers. This application help users to become an instructor or a student. It has a login facility and after
          login they can choose their classes.</p>
        <a href="https://eeducationinstitute.000webhostapp.com/#/home">
          <button class="button-2">Watch Demo</button>
        </a>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #40407a">
        <span class="sub-heading-1">WEB DEVELOPMENT - HOTEL</span>
        <div class="title-2">We developed a system for an apartment</div>
        <p class="p-1">This application is made for an apartment. They have different types of rooms and facilities.
          Customers can buy rooms for one day or more. They have flexible charges and customers can buy rooms according
          to number of people.</p>
        <a href="https://hotel-luxe.netlify.app/#/home">
          <button class="button-2">Watch Demo</button>
        </a>
      </div>
      <div class="service-content bg-images"
           style="background-image: url('./assets/img/home/work-2.jpg');min-height: 320px"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content bg-images"
           style="background-image: url('./assets/img/home/work-3.jpg');min-height: 320px"></div>
      <div class="service-content" style="background-color: #40407a">
        <span class="sub-heading-1">WEB DEVELOPMENT - E SHOPPING</span>
        <div class="title-2">We have developed a platform to buy clothes online</div>
        <p class="p-1">This is an online clothing store and customers can search and buy huge number of fashions and
          trends in here. </p>
        <a href="https://online-clothing-shop.netlify.app/#/home">
          <button class="button-2">Watch Demo</button>
        </a>
      </div>
    </div>

  </div>
</section>
