<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Works</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> Works</span></h3>
    </div>
  </div>
</div>

<section id="works-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="service-content" style="margin-top: 30px">
        <span class="sub-heading-1">WORKS</span>
        <div class="title-1">Our Works</div>
        <p class="p-1">As a newly started venture, we specialize in MEAN stack and MERN stack development, providing
          cutting-edge solutions. Our talented WordPress developers are ready to bring your vision to life. Embracing
          cross-platform technologies, we ensure your applications reach a broader audience. Moreover, our creative team
          is adept at handling any graphic design project, ensuring your brand stands out with exceptional visuals.
          Partner with us for an all-encompassing experience, tailored to meet your every digital need. Let's create a
          successful future together!</p>
      </div>
      <div class="service-content" style="display: flex; align-items: center; justify-content: center;">
        <img src="./assets/img/home/click.webp" alt="click here" style="width: 50%">
        <button class="button-1" routerLink="/gallery">Go To The Gallery</button>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content bg-images"
           style="background-image: url('./assets/img/home/work-1.webp');min-height: 320px"></div>
      <div class="service-content" style="background-color: #40407a">
        <span class="sub-heading-1">WEB DEVELOPMENT - E EDUCATION</span>
        <div class="title-2">We have developed E Education web application for online tuition class</div>
        <p class="p-1">E Education application is platform to students for choose their subject scheme and find best
          teachers. This application help users to become an instructor or a student. It has a login facility and after
          login they can choose their classes.</p>
        <a href="https://eeducationinstitute.000webhostapp.com/#/home" target="_blank">
          <button class="button-2">Watch Demo</button>
        </a>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #40407a">
        <span class="sub-heading-1">WEB DEVELOPMENT - HOTEL</span>
        <div class="title-2">We developed a system for an apartment</div>
        <p class="p-1">This application is made for an apartment. They have different types of rooms and facilities.
          Customers can buy rooms for one day or more. They have flexible charges and customers can buy rooms according
          to number of people.</p>
        <a href="https://hotel-luxe.netlify.app/#/home" target="_blank">
          <button class="button-2">Watch Demo</button>
        </a>
      </div>
      <div class="service-content bg-images"
           style="background-image: url('./assets/img/home/work-2.webp');min-height: 320px"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content bg-images"
           style="background-image: url('./assets/img/home/work-3.webp');min-height: 320px"></div>
      <div class="service-content" style="background-color: #40407a">
        <span class="sub-heading-1">WEB DEVELOPMENT - E SHOPPING</span>
        <div class="title-2">We have developed a platform to buy clothes online</div>
        <p class="p-1">This is an online clothing store and customers can search and buy huge number of fashions and
          trends in here. </p>
        <a href="https://online-clothing-shop.netlify.app/#/home" target="_blank">
          <button class="button-2">Watch Demo</button>
        </a>
      </div>
    </div>

  </div>
</section>

<div class="d-md-flex contact-wrapper">
  <div class="contact-item">
    <div style="font-size: 70px; color: white;line-height: 60px">Let’s Talk About Your Project!</div>
    <div class="p-1">Matara, Kamburupitiya</div>
    <div class="p-1">info@flexi-art.com</div>
    <div class="p-1">+94 74 190 8274</div>
  </div>
  <div class="contact-item" style="background-color: white">
    <div class="title-3">Contact Us</div>
    <p class="p-3">Are you ready to start your project? Please contact us here. We are always ready to help you to grow
      your business in the digital world.</p>

    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="sendMsg()">

      <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Ex. kavindu kokila">
      </mat-form-field>

      <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      </mat-form-field>

      <div class="d-flex" style="width: 100%">
        <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message" placeholder="Ex. Message" autocomplete="on"></textarea>
        </mat-form-field>
      </div>

      <p class="contact-form-full-width" id="voice-para">{{voiceService.text}}</p>

      <button class="button-5">Send Message</button>
    </form>

    <div class="d-flex">
      <button class="button-4" [ngStyle]="{'background-color':voiceBtn?'#aaa':'#13E8E9'}" (click)="recordBtn()">
        <mat-icon>mic</mat-icon>
      </button>
      <button (click)="patchValue()" style="background-color: transparent; border: none">
        <mat-icon>done</mat-icon>
      </button>
    </div>


  </div>
</div>
