<div class="container">

  <router-outlet></router-outlet>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 100%; margin: 3vw 0">
        <img src="./assets/img/blog/blog-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title" style="margin: 0">Principles of Web Development</h2>
          <p class="card-text d-flex align-items-center justify-content-between">
            Kavindu Kokila
            <span>14 March 2023</span>
          </p>
          <p class="card-text">
            Web development is the process of designing, creating, and maintaining websites <a routerLink="/blog/blog-single-1">See more..</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
