<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Blog</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> Blog</span></h3>
    </div>
  </div>
</div>

<div class="container">

  <router-outlet></router-outlet>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 100%; margin: 3vw 0">
        <img src="./assets/img/blog/blog-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title" style="margin: 0">Principles of Web Development</h2>
          <p class="card-text d-flex align-items-center justify-content-between">
            Kavindu Kokila
            <span>14 March 2023</span>
          </p>
          <p class="card-text">
            Web development is the process of designing, creating, and maintaining websites <a routerLink="/blog/principles_of_web_development">See more..</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 100%; margin: 3vw 0">
        <img src="./assets/img/blog/blog-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title" style="margin: 0">Future Technologies</h2>
          <p class="card-text d-flex align-items-center justify-content-between">
            Unknown
            <span>14 March 2023</span>
          </p>
          <p class="card-text">
            The future is always an exciting prospect, especially when it comes to technology. In the coming years, we can
            expect to see some significant <a routerLink="/blog/future_technologies">See more..</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
