<div class="container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button routerLink="/admin/new-users" (click)="drawer.toggle()"><mat-icon>person_add</mat-icon> Add New User</button>
      <button routerLink="/admin/users" (click)="drawer.toggle()"><mat-icon>group</mat-icon> Users</button>
      <button routerLink="/admin/settings" (click)="drawer.toggle()"><mat-icon>settings</mat-icon>Settings</button>
      <button (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="collapse-btn">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>

    </div>

  </mat-drawer-container>
</div>
