<div class="container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button routerLink="/admin/new-users">Add New User</button>
      <button routerLink="/admin/settings">Settings</button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="collapse-btn">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>
