<!--<div class="center chat-container container">-->
<!--  <app-chat [messages]="messages" [colorBackRight]="colorBackRight" [colorFontRight]="colorFontRight"-->
<!--            [colorBackLeft]="colorBackLeft" [colorFontLeft]="colorFontLeft" class="center"></app-chat>-->
<!--</div>-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Success</title>
</head>
<body>
<div
  style="width: 600px; padding: 5vw; background-color: white">
  <div
    style="text-align: center; font-size: 24px; color: #2ecc71; font-family: cursive; border: 2px solid #13E8E9; border-radius: 20px; padding: 5vw;">
    <b>Happy to say we chose you as an admin of Flexiart pvt.ltd.</b>
    <img
      src="https://img.freepik.com/free-photo/group-people-working-out-business-plan-office_1303-15861.jpg?w=900&t=st=1679315069~exp=1679315669~hmac=beeba47f9decaa96e65ed07227073f549601b6de76f8d1f31de64fdf37090bef"
      alt="banner"
      style="width: 100%">
    <p
      style="width: 400px; text-align: left; color: dimgray; font-size: 16px; font-family: sans-serif; margin-top: 5px">
      Dear <br>
      This email is to inform you that, you are selected as an admin of flexiart pvt. ltd.
    </p>
    <p style="color: dimgray; font-size: 14px; font-family: sans-serif; text-align: left;">
      Username: <br>
      Password:
    </p>
    <p style="width:400px; color: dimgray; font-size: 16px; font-family: sans-serif; text-align: left;">
      We expect you to perform the related tasks on time with minimum number of mistakes, being faithful to us and also
      to our customers...
      To know any other detail regarding this send me a mail or call/message 0773431660</p>
  </div>
</div>
<div style="background-color: black; padding: 3vw; width: 600px">
  <div style="width: 40%">
    <img src="https://flexi-art.netlify.app/assets/img/logo%20white.png" alt="logo" style="width: 100%"></div>
  <p style="color: white">We are here to give solutions for your any of digital problems and help to grow your business
    faster and easier.</p>
</div>

</body>
</html>
