.terms-wrapper{
  padding: 5vw;
  border: 2px solid #13E8E9;
  border-radius: 20px;

  h2{
    color: white;
    font-size: 24px;
  }

  p{
    color: white;
    text-align: justify;
  }

  ol{
    li{
      color: white;
    }
  }
}

