<div class="container">
  <div class="article-wrapper">
    <div class="terms-wrapper">
      <h2>Terms & Conditions</h2>
      <p>Thank you for considering our services. Please take a moment to read our terms and conditions before using our
        services. </p>

      <ol>
        <li>Our working hours are from 8am to 6pm, Monday to Friday. However, we offer 24/7 support to our clients.</li>

        <li>We only approve bank deposits and bank transfers as payment for our services. Payment must be made in full
          and on time.
        </li>

        <li>Our service charges are included in the final bill. Additional charges may apply if the client requests
          additional
          services, such as hosting.
        </li>

        <li>Our services primarily involve web development and mobile development.</li>

        <li>After the hosting process, clients are required to make annual payments for maintaining servers and
          domains.
        </li>

        <li>We mostly work on online platforms.</li>

        <li>We offer a lifetime warranty to our clients.</li>
      </ol>

      <p>By using our services, you agree to abide by these terms and conditions. If you have any questions or concerns,
        please contact us for clarification.</p>
    </div>
  </div>
</div>
