<div class="container">
  <div class="article-wrapper">
    <div class="terms-wrapper">
      <h2>Terms & Conditions</h2>
      <p>Welcome to Flexiart! We appreciate your interest in our services. Please take a moment to review our
        terms and conditions before using our website.</p>

      <ol>
        <li>Working Hours and Support:</li>
        <p>Our team is available from 8 am to 6 pm, Monday to Friday. Rest assured, we offer 24/7 support to our valued
          clients.</p>

        <li>Payment Methods:</li>
        <p>For your convenience, we accept bank deposits and bank transfers as payment for our services. Kindly ensure
          full and timely payment.</p>

        <li>Service Charges:</li>
        <p>Our transparent pricing includes service charges. However, additional fees may apply if you request extra
          services like hosting.</p>

        <li>Web and Mobile Development:</li>
        <p>Our expertise lies in web development and mobile app development, delivering top-notch solutions tailored to
          your needs.</p>

        <li>Hosting and Maintenance:</li>
        <p>After the hosting process, clients are required to make annual payments for server and domain
          maintenance.</p>

        <li>Online Platforms:</li>
        <p>We primarily operate on online platforms, ensuring seamless digital experiences for you.</p>

        <li>Lifetime Warranty:</li>
        <p>We take pride in offering a lifetime warranty on our services, reflecting our commitment to your
          satisfaction.</p>

        <li>Agreement:</li>
        <p>By using our services, you agree to abide by these terms and conditions. Should you have any questions or
          concerns, please don't hesitate to contact us for clarification.</p>
      </ol>

      <p>Thank you for choosing Flexiart. We look forward to providing you with exceptional services!</p><br>
      <p>[Latest Updated: 2023.07.25]</p>
    </div>
  </div>
</div>
