
#about-sec{
  .about-content{
    min-height: 200px;
    flex: 1;
    padding: 3vw;

    img{
      width: 100%;
    }
  }
}

#service-sec, #works-sec, #join-us-sec{
  margin-bottom: 70px;

  .service-content{
    flex: 1;
    width: 100%;
    padding: 3vw;
  }

  .mat-icon{
    color: white;
    font-size: 35px;
  }

  img{
    width: 100%;
  }
}

#project-count{
  width: 100%;
  min-height: 250px;
  background-color: rgba(0,0,0,0.5);
  color: white;

  .project-cont{
    flex: 1;
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
      font-size: 48px;
      font-weight: bolder;
      margin: 2vw 0;
      font-family: 'Kanit', sans-serif;
    }

    .count-title{
      font-family: 'Kanit', sans-serif;
      font-size: 20px;
    }
  }
}
