#about-sec{
  .about-content{
    min-height: 200px;
    flex: 1;
    padding: 3vw;

    img{
      width: 100%;
    }
  }
}

#service-sec, #works-sec, #join-us-sec{
  margin-bottom: 70px;

  .service-content{
    flex: 1;
    width: 100%;
    padding: 3vw;
  }

  .mat-icon{
    color: white;
    font-size: 5vw;
  }

  img{
    width: 100%;
  }
}
