<div class="main-banner">
  <div class="banner-content">
    <h1>Best place to get quality Digital service!</h1>
    <h3>We make quality solutions for your businesses with innovative thinking and latest technologies. We try our best
      and we make sure we deliver the best.</h3>
    <button routerLink="/service">Explore Our Services</button>
  </div>

  <div class="shadow"></div>
  <img src="./assets/img/home/main-banner.jpg" alt="banner">
</div>

<section id="about-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="about-content">
        <img src="./assets/img/home/sec-about.jpg" alt="about-sec">
      </div>
      <div class="about-content">
        <span class="sub-heading-1">ABOUT US</span>
        <div class="title-1">We’re On Mission To Help Business Grow Faster Than Ever.</div>
        <p class="p-1">Our software company envisions a future where innovative technology solutions are accessible and
          easy to use. We are
          committed to creating software that is flexible, user-friendly, and designed to solve complex problems...</p>
        <button class="button-1" routerLink="/about">Learn more</button>
      </div>
    </div>
  </div>
</section>

<section id="service-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="service-content" style="margin-top: 30px">
        <span class="sub-heading-1">SERVICES</span>
        <div class="title-1">Our Services</div>
        <p class="p-1">We have web developers and mobile developers basically. We can help you with front-end
          development, back-end development and mobile development. Furthermore we can help you to manage databases,
          design UI/UX and etc.</p>
      </div>
      <div class="service-content"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #40407a">
        <div class="d-flex justify-content-between">
          <span class="title-1">Mobile Development</span>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>phone_iphone</mat-icon>
          </div>
        </div>
        <p class="p-1">We work with Java, React-native and flutter for mobile application development. We mostly work
          with cross platform technologies.</p>
        <button class="button-2" routerLink="/mobile-dev">Discover more</button>
      </div>
      <div class="service-content" style="background-color: #227093">
        <div class="d-flex justify-content-between">
          <div class="title-1">Web Development</div>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>public</mat-icon>
          </div>
        </div>
        <p class="p-1">We are work with MEAN stack and MERN stack for web development. We work with wordpress also.
          But we are mostly working with MEAN stack.</p>
        <button class="button-2" routerLink="/web-dev">Discover more</button>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #227093">
        <div class="d-flex justify-content-between">
          <span class="title-1">Front-end Development</span>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>auto_awesome_mosaic</mat-icon>
          </div>
        </div>
        <p class="p-1">We make front-ends with best UI/UX designs. We are most familiar with Angular, React and React
          native platforms. Also we work with node modules.</p>
        <button class="button-2" routerLink="/frontend-dev">Discover more</button>
      </div>
      <div class="service-content" style="background-color: #40407a">
        <div class="d-flex justify-content-between">
          <div class="title-1">Back-end Development</div>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>dns</mat-icon>
          </div>
        </div>
        <p class="p-1">We using Express.js, Next.js, Vue.js, Spring Boot, Java and etc. for make backends to your
          applications. We mostly work with AWS and using MongoDB or Firebase to store your data.</p>
        <button class="button-2" routerLink="/backend-dev">Discover more</button>
      </div>
    </div>

  </div>
</section>

<section id="works-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="service-content" style="margin-top: 30px">
        <span class="sub-heading-1">WORKS</span>
        <div class="title-1">Our Works</div>
        <p class="p-1">We are a newly started company and we basically work with MEAN stack and MERN stack. We work
          with cross platform technologies also.</p>
      </div>
      <div class="service-content"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content bg-images"
           style="background-image: url('./assets/img/home/work-1.jpg');min-height: 320px"></div>
      <div class="service-content" style="background-color: #40407a">
        <span class="sub-heading-1">WEB DEVELOPMENT - E EDUCATION</span>
        <div class="title-2">We have developed E Education web application for online tuition class</div>
        <p class="p-1">E Education application is platform to students for choose their subject scheme and find best
          teachers. This application help users to become an instructor or a student. It has a login facility and after
          login they can choose their classes.</p>
        <a href="https://eeducationinstitute.000webhostapp.com/#/home">
          <button class="button-2">Watch Demo</button>
        </a>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #40407a">
        <span class="sub-heading-1">WEB DEVELOPMENT - HOTEL</span>
        <div class="title-2">We developed a system for an apartment</div>
        <p class="p-1">This application is made for an apartment. They have different types of rooms and facilities.
          Customers can buy rooms for one day or more. They have flexible charges and customers can buy rooms according
          to number of people.</p>
        <a href="https://hotel-luxe.netlify.app/#/home">
          <button class="button-2">Watch Demo</button>
        </a>
      </div>
      <div class="service-content bg-images"
           style="background-image: url('./assets/img/home/work-2.jpg');min-height: 320px"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content bg-images"
           style="background-image: url('./assets/img/home/work-3.jpg');min-height: 320px"></div>
      <div class="service-content" style="background-color: #40407a">
        <span class="sub-heading-1">WEB DEVELOPMENT - E SHOPPING</span>
        <div class="title-2">We have developed a platform to buy clothes online</div>
        <p class="p-1">This is an online clothing store and customers can search and buy huge number of fashions and
          trends in here. </p>
        <a href="https://online-clothing-shop.netlify.app/#/home">
          <button class="button-2">Watch Demo</button>
        </a>
      </div>
    </div>

  </div>
</section>

<section id="join-us-sec">
  <div class="d-md-flex">
    <div class="service-content d-flex">
      <div style="flex: 1; padding: 1.5vw;">
        <img src="./assets/img/home/join-us-1.jpg" alt="join us">
      </div>
      <div style="flex: 1; padding: 1.5vw; margin-top: 5vw">
        <img src="./assets/img/home/join-us-2.jpg" alt="join us">
      </div>
    </div>
    <div class="service-content" style="margin-top: 6.5vw">
      <span class="sub-heading-1">JOIN US</span>
      <div class="title-1">Several Things Define Us As a Company</div>
      <p class="p-1">We have experienced crew for work and they always try to do their best. We are always friendly with
        our clients and try to response our clients soon as possible.</p>
      <button class="button-1" routerLink="/contact">Join Us Now</button>
    </div>
  </div>
</section>
