<div class="main-banner">
  <div class="banner-content">
    <h1>Quality Digital Services You Really Need!</h1>
    <h3>We build and transform businesses by launching market-leading digital products, platforms, and experiences that
      fuel their growth.</h3>
    <button>Explore Our Services</button>
  </div>

  <div class="shadow"></div>
  <img src="./assets/img/home/main-banner.jpg" alt="banner">
</div>

<section id="about-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="about-content">
        <img src="./assets/img/home/sec-about.jpg" alt="about-sec">
      </div>
      <div class="about-content">
        <span class="sub-heading-1">ABOUT US</span>
        <div class="title-1">We’re On Mission To Help Business Grow Faster Thanever.</div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis commodi
          dolor eum
          expedita illo magni molestiae odio provident quia quis, quos ratione recusandae, reiciendis repellendus rerum
          tempore temporibus.</p>
        <button class="button-1">Learn more</button>
      </div>
    </div>
  </div>
</section>

<section id="service-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="service-content" style="margin-top: 30px">
        <span class="sub-heading-1">SERVICES</span>
        <div class="title-1">Our Services</div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis dolores facere illum magnam
          nulla pariatur
          ratione, temporibus!</p>
      </div>
      <div class="service-content"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #40407a">
        <div class="d-flex justify-content-between">
          <span class="title-1">Mobile Development</span>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>phone_iphone</mat-icon>
          </div>
        </div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum illo illum iusto
          officia quia rerum suscipit temporibus ullam, veritatis?</p>
        <button class="button-2">Discover more</button>
      </div>
      <div class="service-content" style="background-color: #227093">
        <div class="d-flex justify-content-between">
          <div class="title-1">Web Development</div>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>public</mat-icon>
          </div>
        </div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum illo illum iusto
          officia quia rerum suscipit temporibus ullam, veritatis?</p>
        <button class="button-2">Discover more</button>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #227093">
        <div class="d-flex justify-content-between">
          <span class="title-1">Front-end Development</span>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>auto_awesome_mosaic</mat-icon>
          </div>
        </div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum illo illum iusto
          officia quia rerum suscipit temporibus ullam, veritatis?</p>
        <button class="button-2">Discover more</button>
      </div>
      <div class="service-content" style="background-color: #40407a">
        <div class="d-flex justify-content-between">
          <div class="title-1">Back-end Development</div>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>dns</mat-icon>
          </div>
        </div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum illo illum iusto
          officia quia rerum suscipit temporibus ullam, veritatis?</p>
        <button class="button-2">Discover more</button>
      </div>
    </div>

  </div>
</section>

<section id="works-sec">
  <div class="container">
    <div class="d-md-flex">
      <div class="service-content" style="margin-top: 30px">
        <span class="sub-heading-1">WORKS</span>
        <div class="title-1">Our Works</div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis dolores facere illum magnam
          nulla pariatur
          ratione, temporibus!</p>
      </div>
      <div class="service-content"></div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #40407a">
        <div class="d-flex justify-content-between">
          <span class="title-1">Mobile Development</span>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>phone_iphone</mat-icon>
          </div>
        </div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum illo illum iusto
          officia quia rerum suscipit temporibus ullam, veritatis?</p>
        <button class="button-2">Discover more</button>
      </div>
      <div class="service-content" style="background-color: #227093">
        <div class="d-flex justify-content-between">
          <div class="title-1">Web Development</div>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>public</mat-icon>
          </div>
        </div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum illo illum iusto
          officia quia rerum suscipit temporibus ullam, veritatis?</p>
        <button class="button-2">Discover more</button>
      </div>
    </div>

    <div class="d-md-flex">
      <div class="service-content" style="background-color: #227093">
        <div class="d-flex justify-content-between">
          <span class="title-1">Front-end Development</span>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>auto_awesome_mosaic</mat-icon>
          </div>
        </div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum illo illum iusto
          officia quia rerum suscipit temporibus ullam, veritatis?</p>
        <button class="button-2">Discover more</button>
      </div>
      <div class="service-content" style="background-color: #40407a">
        <div class="d-flex justify-content-between">
          <div class="title-1">Back-end Development</div>
          <div style="width: 30%" class="d-flex align-items-center justify-content-center">
            <mat-icon>dns</mat-icon>
          </div>
        </div>
        <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum illo illum iusto
          officia quia rerum suscipit temporibus ullam, veritatis?</p>
        <button class="button-2">Discover more</button>
      </div>
    </div>

  </div>
</section>
