<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Typesetting</h1>
      <h3><span routerLink="/home">Home /</span> <span routerLink="/service">Services /</span> <span
        style="color: #13E8E9"> Typesetting</span></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="article-wrapper">
    <p class="p-1">Welcome to Flexiart, your trusted destination for professional typesetting services. Our
      skilled typesetters transform your written content into visually appealing and well-structured documents. Whether
      you need assistance with book layout, magazine design, brochures, newsletters, or any other publication, we've got
      you covered. Our attention to detail and use of industry-standard tools ensure that your documents are formatted
      to perfection.
    </p>

    <div class="d-md-flex  justify-content-center">
      <div class="article-cont">
        <p class="p-1">At Flexiart, we understand the importance of effective typesetting in enhancing readability
          and conveying your message with clarity. Our team utilizes their expertise in complex typography, consistent
          fonts, and seamless integration of images to create professional layouts. We adhere to your brand guidelines,
          maintaining consistency across your publications, whether you require a clean and minimalistic design or a
          vibrant and eye-catching layout.
        </p>

        <p class="p-1">We are committed to delivering high-quality results within your deadlines. Our efficient
          typesetting process ensures a quick turnaround time without compromising on accuracy or attention to detail.
          With our personalized solutions, we cater to projects of all sizes and complexities. Whether you're a
          publishing house, educational institution, or individual author, we tailor our typesetting services to meet
          your specific needs.
        </p>
      </div>
      <div class="article-cont">
        <img src="./assets/img/service/typesetting-1.jpg" alt="typesetting">
      </div>
    </div>

    <p class="p-1">Partner with Flexiart for top-notch typesetting services that elevate the presentation of your
      written content. Contact us today to discuss your requirements and let our experts bring your words to life with
      professional typesetting that captivates your readers. Experience the difference of our meticulous approach and
      industry-standard tools, as we create visually appealing layouts that leave a lasting impression.</p>

    <button class="button-1" routerLink="/contact">Start Your Project Now</button>
  </div>
</div>
