
<div class="row">
  <div class="col-12 col-md-4">
    <button (click)="backupDatabase()" style="background-color: #1b85c9">Backup Database</button>
  </div>
  <div class="col-12 col-md-4">
    <button (click)="downloadBackup()" style="background-color: #e74c3c">Download Backup</button>
  </div>
  <div class="col-12 col-md-4">
    <button (click)="restoreDatabase()" style="background-color: #40407a" disabled>Re-Store Backup</button>
    <input type="file" (change)="onFileChange($event)" accept=".tar" disabled/>
  </div>
</div>

<div *ngIf="loading" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
  <div class="d-flex align-items-center justify-content-center w-100 h-100">
    <div class="d-flex flex-column align-items-center justify-content-center"
         style="width: 80%; padding: 30px; border: 1px solid #13E8E9; border-radius: 25px; background-color: rgba(0,0,0,.5)">
      <img src="./assets/img/asset/small_loading.gif" alt="loading" title="Loading" width="60" height="60">
      <div class="loading-count">Backing up...</div>
    </div>
  </div>
</div>

<div>
  <p><span style="color: red">Note:-</span>
  Backup restore process disabled because backend function is in development mode. follow these step to backup restore:
  </p>
  <ul>
    <li>install mongo command tools for device</li>
    <li>set environmental variables</li>
    <li>set environmental variables</li>
    <li>backup database</li>
    <li>download database</li>
    <li>extract download folder > Flexiart_DB > extract all .json and .bson files</li>
    <li>open cmd in here</li>
    <li>cd .. (navigate back)</li>
    <li>mongorestore --uri mongodb+srv://db_backup:BackupAccount@flexiart.ti4faed.mongodb.net/Flexiart_DB --dir Flexiart_DB</li>
    <li>enter</li>
  </ul>
</div>
