<div>
  <div class="top-nav" id="top">
    <a href="mailto:info@flexi-art.com">&nbsp;info@flexi-art.com</a>
    <span>+94 77 343 1660</span>
  </div>
  <div class="nav-div sticky-top">

    <nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
      <div class="container-fluid">
        <div style="width: 100px; background-color: transparent; margin: 0 30px">
          <img
            src="./assets/img/logo%20white.png"
            alt="logo" style="width: 100%" routerLink="/home">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" aria-expanded="false">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/service" aria-expanded="false">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog" aria-expanded="false">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/works" aria-expanded="false">Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/technologies" aria-expanded="false">Technologies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">More</a>
              <div class="dropdown-content">
                <a routerLink="/faq">FAQ</a>
                <a routerLink="/feedbacks">Feedbacks</a>
                <a routerLink="/terms">Terms & Conditions</a>
                <a routerLink="/join-crew">Join our Team</a>
                <a routerLink="/login">Log in</a>
              </div>
            </li>
          </ul>

          <button class="btn-explore" routerLink="/contact">Start a Project</button>

        </div>
      </div>
    </nav>

  </div>
<!--  <div style="width: 100%; background-color: #13E8E9; padding: 5px 10px; text-align: center"-->
<!--       class="d-flex justify-content-center align-items-center">-->
<!--    We are updating our system and some functions cannot be work. Our apologies for your inconvenience. Contact-->
<!--    0773431660 on whatsapp for get our service.-->
<!--  </div>-->


  <router-outlet>

    <df-messenger
      intent="WELCOME"
      chat-title="flexiart_chatbot"
      agent-id="a1d551d3-6642-4624-ac83-dfc6e6be8f48"
      language-code="en"
    ></df-messenger>

  </router-outlet>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Hurry Up!!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="./assets/img/modal-1.png" alt="modal">
          <div class="timer">
            <span id="days"> {{daysToDday}} </span>:
            <span id="hours"> {{hoursToDday}} </span>:
            <span id="minutes"> {{minutesToDday}} </span>:
            <span id="seconds"> {{secondsToDday}} </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" routerLink="/contact" data-bs-dismiss="modal">Start Project
          </button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" id="main-model-btn" style="display: none" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <footer class="main-footer">

    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 footer-item">
        <div style="width: 60%"><img src="./assets/img/logo%20white.png" alt="logo"></div>
        <p class="p-1">We are here to give solutions for your any of digital problems and help to grow your business
          faster and easier.</p>
        <div class="d-flex align-items-center justify-content-start">
          <a href="https://web.facebook.com/profile.php?id=100091402292050"><i class='fab fa-facebook-f'></i></a>
          <i class='fab fa-instagram'></i>
          <i class='fab fa-twitter'></i>
          <a href="https://www.youtube.com/channel/UC030E93Q3gKWMMCn5rEbLHA"><i class='fab fa-youtube'></i></a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 footer-item">
        <ul>
          <li class="sub-heading-1" style="margin-bottom: 20px">CONTACT US</li>
          <li class="p-2">Matara, Kamburupitiya</li>
          <li class="p-2">info@flexi-art.com</li>
          <li class="p-2">+94 77 343 1660</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 footer-item">

        <div class="top-btn">
          <a href="#">
            <button class="button-4">
              <mat-icon matTooltip="Back to top">expand_less</mat-icon>
            </button>
          </a>
        </div>

        <ul>
          <li class="sub-heading-1" style="margin-bottom: 20px">QUICK LINKS</li>
          <li class="p-2" routerLink="/home">Home</li>
          <li class="p-2" routerLink="/about">About Us</li>
          <li class="p-2" routerLink="/blog">Blog</li>
          <li class="p-2" routerLink="/contact">Contact</li>
          <li class="p-2" routerLink="/faq">FAQ</li>
          <li class="p-2" routerLink="/join-crew">Career Opportunities</li>
        </ul>
      </div>

    </div>
  </footer>
  <div class="final-bar">
    <p>Copyright © 2023. All Rights Received.</p>
  </div>

</div>


