<div class="top-nav">
  <a href="mailto:example@gmail.com">&nbsp;example@gmail.com</a>
  <span>+94 77 343 1660</span>
</div>
<div class="nav-div sticky-top">

  <nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
        <div class="container-fluid">
          <div style="width: 100px; background-color: transparent; margin: 0 30px">
            <img
              src="./assets/img/logo%20white.png"
              alt="logo" style="width: 100%" routerLink="/home">
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" aria-expanded="false">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" aria-expanded="false">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" aria-expanded="false">Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" aria-expanded="false">Technologies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">More</a>
                <div class="dropdown-content">
                  <a routerLink="/blog">FAQ</a>
                  <a routerLink="/blog-single">Join our crew</a>
                </div>
              </li>
            </ul>

            <button class="btn-explore">Start a Project</button>

          </div>
        </div>
  </nav>

</div>

<router-outlet></router-outlet>
