.top-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  color: white;
  background-color: black;

  a{
    color: white;
    text-decoration: none;
  }
  a,span:hover{
    cursor: pointer;
  }
}

.nav-div{
  width: 100%;

  .nav-item {
    position: relative;
    display: inline-block;
    padding-right: 1vw;
    padding-left: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: dimgray;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    background-color: white;
    padding: 8px 20px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
  }
  .dropdown-content a:hover {color: #ffffff; background-color: #13E8E9}
  .dropdown:hover .dropdown-content {display: block;}

  .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 450;
  }

  .nav-link:before {
    content: '';
    position: absolute;
    margin-left: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 500ms ease;
  }

  .nav-link:hover {
    color: #13E8E9;
  }

  .nav-link:hover:before {
    width: 35px;
  }

  .navbar .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 5px;
  }

  .navbar .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease;
  }

  /* change the background color */
  .navbar-custom {
    background-color: #000;
  }

  /* change the color of active or hovered links */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:focus .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #13E8E9;
  }

  .btn-explore{
    color: black;
    font-weight: bold;
    background-color: #13E8E9;
    border-radius: 25px;
    padding: 10px 25px;
    border: none;
    font-size: 16px;
  }
  .btn-explore:hover{
    background-color: black;
    border: 2px solid #13E8E9;
    color: white;
  }

}

.main-footer{
  width: 100%;
  min-height: 200px;
  background-color: black;
  overflow: hidden;

  .footer-item{
    min-height: 200px;
    padding: 2vw 20px;
    position: relative;

    i{
      margin: 0 10px;
      font-size: 30px;
      color: white;
    }
    i:hover{
      color: #13E8E9;
      cursor: pointer;
    }

    ul{
      list-style: none;
      line-height: 10px;

      li{
        margin: 0;
        cursor: pointer;
      }
      li:hover{
        color: #13E8E9;
      }
    }

    img{
      width: 100%;
    }

    a{
      text-decoration: none;
    }

    .top-btn{
      position: absolute;
      top: 30px;
      right: 30px;
      display: flex;
      z-index: 2;

      .mat-icon{
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.final-bar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13E8E9;
  padding: 2px 50px;

  p{
    margin: 0;
  }
}

.chatBot-wrapper{
  position: absolute;
  display: inline-block;
  z-index: 10;
  left: 50px;
  margin-top: 30px;
  width: 80%;
  height: auto;

  .chatBot-btn{
    position: relative;

    .chtClose-btn{
      position: absolute;
      z-index: 1;
      left: 50px;
      top: -5px;
    }

    .chatBot-container{
      position: absolute;
      width: 100%;

      .chat{
        display: inline-block;
        width: 100%;
        height: 65vh;
        border-radius: 10px;
        background-color: white;

        .app-top{
          width: 100%;
          height: 12%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 0;
          background-color: #13E8E9;
          border-radius: 10px 10px 0 0;

          span{
            font-weight: bold;
            font-size: 18px;
            color: white;
          }
        }

        .chat-area{
          overflow-y: auto;
          height: 76%;
          padding: 20px 20px 0 20px;
        }

        .message-area{
          height: 12%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 20px;

          input{
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 20px;
            padding: 8px 15px;
          }

          .send-btn-div{
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.chat-container {
  width: 300px;
  height: 550px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
  padding: 0px;
}

df-messenger {
  --df-messenger-bot-message: #878fac;
  --df-messenger-button-titlebar-color: #13E8E9;
  --df-messenger-chat-background-color: #fafafa;
  --df-messenger-chat-height: 400px;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #878fac;
  --df-messenger-user-message: #13E8E9;
}
