<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Join Our Team</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> Join Our Team</span></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="article-wrapper">
    <p class="p-1">As a leading technology company, we understand the importance of hiring skilled and experienced
      professionals to drive innovation and growth. That's why we are currently seeking talented individuals to join our
      team in mobile development and web development.
    </p>
    <p class="p-1">Our ideal candidates are experienced professionals with a passion for technology and a proven track
      record of success in developing cutting-edge applications and websites. They should be highly skilled in the latest
      development languages, frameworks, and tools, and have a keen eye for detail and a commitment to delivering
      high-quality work.
    </p>
    <p class="p-1">In addition to technical expertise, we value innovative thinking and creativity. Our team is constantly
      pushing the boundaries of what's possible in mobile and web development, and we're looking for individuals who are
      excited to join us in this pursuit.
    </p>
    <p class="p-1">As a member of our team, you'll have the opportunity to work on exciting projects for a diverse range
      of clients, from startups to multinational corporations. You'll be part of a dynamic and collaborative work
      environment, with ample opportunities for professional growth and advancement.
    </p>
    <p class="p-1">We offer competitive salaries and benefits packages, including health insurance, retirement plans, and
      flexible scheduling. We also provide ongoing training and professional development opportunities to ensure that our
      team members stay up-to-date with the latest trends and technologies in mobile and web development.
    </p>

    <div class="row">
      <div class="col-md-4">
        <img src="./assets/img/join-crew/backgound.png" alt="background">
      </div>

      <div class="col-md-8">
        <p class="p-1">If you're a skilled, experienced, and innovative-thinking developer looking for a challenging and
          rewarding career opportunity, we encourage you to apply to join our team today.</p>

        <a href="mailto:employees@flexi-art.com" style="text-decoration: none;">
          <button class="button-3" style="margin: 3vw 0">Send Your CV Now</button>
        </a>
      </div>
    </div>

    <div class="row" style="margin-top: 2vw">
      <span class="sub-heading-1">Job Opportunities</span>
      <div class="col-sm-6">
        <ul class="ul-1">
          <li>MEAN Stack Developer</li>
          <li>MERN Stack Developer</li>
          <li>React Developer</li>
          <li>Spring Developer</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="ul-1">
          <li>Flutter Developer</li>
          <li>Business Analytics</li>
          <li>Project Manager</li>
          <li>DevOps</li>
        </ul>
      </div>
    </div>

  </div>

</div>
