<div class="d-sm-flex align-items-center" style="margin-bottom: 20px">
  <span>Subject : &nbsp;</span>
  <input type="text" [(ngModel)]="subject">
</div>

<div class="button">
  <button (click)="convertHtmlToPage()" [ngStyle]="{'background-color':view?'red':'#1b85c9'}">{{view?'Code':'View'}}</button>
</div>

<textarea [(ngModel)]="htmlContent" placeholder="Enter your HTML code here" class="input-area" [ngStyle]="{'display':view?'none':'block'}"></textarea>
<div class="page-view" [innerHTML]="renderedHtml" [ngStyle]="{'display':view?'block':'none'}"></div>

<div class="d-flex align-items-center justify-content-center button" style="margin-top: 20px">
  <button style="background-color: #1b85c9">Send to Demos</button>
  <button style="background-color: #e74c3c">Send to Subscribers</button>
</div>

