<div class="row">
  <div class="col-12 col-md-6">
    <div *ngIf="!verified">
      <h1>setup authenticator</h1>
      <h3><b>use the qr code to your authenticator</b></h3>
      <img [src]="Image" alt="QR">
      <br>
      <h3><b>or add manually:</b></h3>
      <p>{{Code}}</p>
    </div>
    <div *ngIf="verified">
      Already verified to authenticator app
    </div>
  </div>
  <div class="col-12 col-md-6">
    <form [formGroup]="verifyForm">
      <mat-form-field style="width: 100%;" appearance="outline" color="accent">
        <mat-label>Verify Code</mat-label>
        <input type="number" matInput max="6" formControlName="verifyCode" placeholder="123456"/>
      </mat-form-field>

      <div class="d-flex" style="justify-content: flex-end">
        <button *ngIf="!verified" class="button-5"(click)="verifyCode()">Authenticate</button>
      </div>
    </form>
  </div>
</div>

