<div class="row">
  <div class="col-12 col-md-6">
    <div *ngIf="!verified">
      <h1>setup authenticator</h1>
      <h3><b>use the qr code to your authenticator</b></h3>
      <img [src]="Image" alt="QR">
      <br>
      <h3><b>or add manually:</b></h3>
      <p>{{Code}}</p>
    </div>
    <div *ngIf="verified">
      <div style="border: 2px solid #636e72; border-radius: 25px; padding: 30px; width: 100%">
        <div class="d-flex align-items-center justify-content-center">
          <img
            src="https://thenounproject.com/api/private/icons/5705183/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
            alt="done" width="60" height="60">
          <span>Already Verified This Account</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <form [formGroup]="verifyForm">
      <mat-form-field style="width: 100%;" appearance="outline" color="accent">
        <mat-label>Verify Code</mat-label>
        <input type="number" matInput max="6" formControlName="verifyCode" placeholder="123456"/>
      </mat-form-field>

      <div class="d-flex" style="justify-content: flex-end">
        <button *ngIf="!verified" class="button-5" (click)="verifyCode()">Authenticate</button>
      </div>
    </form>
  </div>
</div>

<div class="d-flex flex-column align-items-center justify-content-center" style="width: 150px; margin: 30px 0">
  <img
    src="https://thenounproject.com/api/private/icons/5799982/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
    alt="support" width="50" height="50">
  <span><a href="mailto:flexiart.info@gmail.com" style="text-align: center">Contact Support</a></span>
</div>
