
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myCompanyFront-primary: mat.define-palette(mat.$indigo-palette);
$myCompanyFront-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myCompanyFront-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$myCompanyFront-theme: mat.define-light-theme((
  color: (
    primary: $myCompanyFront-primary,
    accent: $myCompanyFront-accent,
    warn: $myCompanyFront-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($myCompanyFront-theme);

/* You can add global styles to this file, and also import other style files */

/*scroll bar*/
body::-webkit-scrollbar{
  width: 4px;
  background-color: #000;
}
body::-webkit-scrollbar-thumb{
  background-color: #13E8E9;
  border-radius: 20px;
}

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/img/bacground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 0;
}

//main banners
.main-banner{
  width: 100%;
  overflow: hidden;
  position: relative;

  .banner-content, .shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .banner-content{
    width: 70%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;

    h1,h3{
      color: white;
      margin-bottom: 3vw;
    }

    h1{
      font-size: 5vw;
      font-weight: bold;
      line-height: 5vw;
    }

    h3{
      font-size: 1.8vw;
      line-height: 3vw;
    }

    button{
      border-radius: 30px;
      border: 2px solid white;
      padding: 1.5vw 2vw;
      background-color: transparent;
      color: white;
      font-weight: bold;
      font-size: 1.5vw;
    }
    button:hover{
      background-color: white;
      color: black;
    }
  }

  .shadow{
    background-color: rgba(0,0,0,0.7);
  }

  img{
    width: 100%;
  }
}

//sub main banners
.sub-main-banner{
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;

  .overlay-half {
    background: linear-gradient(to top, #000e11 10%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
    height: 50%;
    width: 100%;
    opacity: .9;
  }

  .sub-main-banner-content{
    width: 100%;
    padding: 10% 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1{
      color: white;
      font-weight: bold;
      font-size: 50px;
      text-shadow: 1px 1px 2px black;
    }

    h3{
      position: absolute;
      color: white;
      font-family: 'Kanit', sans-serif;
      font-weight: bolder;
      font-size: 24px;
      text-shadow: 1px 1px 2px black;

      span:hover{
        cursor: pointer;
        color: #13E8E9;
      }
    }
  }
}

//article wrapper
.article-wrapper{
  background-color: rgba(0,0,0,0.7);
  padding: 5vw 4vw;

  .article-cont{
    flex: 1;
    padding: 10px;

    img{
      width: 100%;
    }
  }
}

.title-1{
  font-size: 4.5vw;
  color: white;
  font-weight: bold;
  line-height: 5vw;
}

.title-2{
  font-size: 3vw;
  line-height: 4vw;
  color: white;
  font-weight: bold;
}

.title-3{
  font-size: 2vw;
  line-height: 3vw;
  color: black;
  font-weight: bold;
}

.button-1{
  border: 1.5px solid white;
  background-color: transparent;
  color: white;
  padding: 1vw 2vw;
  font-size: 16px;
  border-radius: 25px;
}
.button-1:hover{
  background-color: white;
  color: black;
}

.button-2{
  background-color: white;
  font-weight: bold;
  color: black;
  padding: 1vw 2vw;
  font-size: 16px;
  border-radius: 25px;
  border: none;
}
.button-2:hover{
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.button-3, .button-5{
  background-color: #e74c3c;
  font-weight: bold;
  color: white;
  padding: 1vw 2vw;
  font-size: 16px;
  border-radius: 25px;
  border: none;
}
.button-3:hover{
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.button-5:hover{
  background-color: transparent;
  border: 2px solid black;
  color: black;
}

.button-4{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #aaa;
}
.button-4:hover{
  background-color: #13E8E9;
}

.sub-heading-1{
  font-size: 15px;
  color: #13E8E9;
  font-weight: bold;
}

.p-1{
  color: white;
  z-index: 2;
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
  margin: 20px 0;
}

.p-2, .p-3{
  color: white;
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
}

.p-3{
  color: black;
}

.bg-images{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.ul-1{
  color: white;
  font-size: 16px;
  line-height: 45px;
  list-style: url("./assets/img/asset/lnr-checkmark-circle.png");
}

//scrollbar vertical
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar:horizontal{
  height: 24px;
}
::-webkit-scrollbar-track:horizontal {
  //background-color: transparent;
  display: none;
}
::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

::-webkit-scrollbar-button:single-button {
  background-color: #082032;
  display: block;
  background-size: 20px;
  background-repeat: no-repeat;
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-radius: 5px 0 0 5px;
  height: 24px;
  width: 24px;
  background-position: 6px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,50 50,100 50,0'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,50 50,100 50,0'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}
/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-radius: 0 5px 5px 0;
  height: 24px;
  width: 24px;
  background-position: 6px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,0 0,100 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,0 0,100 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}
