<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Feedbacks</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> Feedbacks</span></h3>
    </div>
  </div>
</div>

<div class="feedback-wrapper">
  <div class="container">
    <div class="article-wrapper">
      <div class="title-1">
        How customers review us..
      </div>

      <table class="table">
        <tbody>
        <tr>
          <div class="d-flex align-items-center" style="height: 40px; padding: 0; margin: 0;"><img
            src="https://thenounproject.com/api/private/icons/2011989/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
            alt="dp" style="height: 100%" title="Anonymous"><span class="sub-heading-1" style="color: black">Anonymous</span></div> <br>
          I strongly recommend this company to get created your projects on time.. The staff is so customer friendly.
          They
          created a superb website for my online classes, it is easy to use and it worths the amount i paid to their
          company.
        </tr>
        <tr>
          <div class="d-flex align-items-center" style="height: 40px; padding: 0; margin: 0;"><img
            src="https://thenounproject.com/api/private/icons/2011989/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
            alt="dp" style="height: 100%" title="M A T Pramuditha"><span class="sub-heading-1" style="color: black">M A T Pramuditha</span></div> <br>
          I'm so glad to find flexiart company to solve my bussiness problem. They completed the task with a minimum
          time duration, maintaining the quality of it.
        </tr>
        <tr *ngFor="let f of feedbackList">
          <div class="d-flex align-items-center" style="height: 40px; padding: 0; margin: 0;"><img
            src="https://thenounproject.com/api/private/icons/2011989/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
            alt="dp" style="height: 100%" title="{{f.fullName}}"><span class="sub-heading-1" style="color: black">{{f.fullName}}</span></div> <br>
          {{f.msg}}
        </tr>
        </tbody>
      </table>

      <div class="sub-heading-1" style="margin-top: 30px">
        SEND US YOUR FEEDBACK
      </div>

      <form class="feedback-form" [formGroup]="feedbackForm" (ngSubmit)="sendFeedback()">

        <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Ex. kavindu kokila">
        </mat-form-field>

        <div class="d-flex" style="width: 100%">
          <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message" placeholder="Ex. Feedback" autocomplete="on"></textarea>
          </mat-form-field>
        </div>

<!--        <p class="contact-form-full-width" id="voice-para" style="color: white">{{voiceService.text}}-->
<!--        </p>-->

        <button class="button-3">Submit</button>
      </form>
<!--      <div class="d-flex">-->
<!--        <button class="button-4" style="margin-top: 5px" [ngStyle]="{'background-color':voiceBtn?'#aaa':'#13E8E9'}"-->
<!--                (click)="recordBtn()">-->
<!--          <mat-icon>mic</mat-icon>-->
<!--        </button>-->
<!--        <button (click)="patchValue()" style="background-color: transparent; border: none; color: white">-->
<!--          <mat-icon>done</mat-icon>-->
<!--        </button>-->
<!--      </div>-->

    </div>
  </div>
</div>
