<div class="container">
  <div class="checkout-wrapper">
    <div class="title-1">Thank you for contacting us!</div>
    <div class="sub-heading-1">WE RESPOND YOUR MESSAGE SOON AS POSSIBLE</div>

    <div class="form-wrapper">
      <p>We are happy to work with you. This form fill is optional. But if you are fill this form it exactly helping us
        to get an idea about your project. It really help us to manage your project and disscuss your project price. <span
          routerLink="/#/home" style="color: #13E8E9; text-decoration: underline">Back to Home</span></p>
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfZTpltGErI6X8H11Z76kuZNqPR1iITXLSo0QgIEflXw8ZtSw/viewform?embedded=true"
        width="640" height="2125" frameborder="0" marginheight="0" marginwidth="0" style="width: 100%">Loading…
      </iframe>
    </div>
  </div>
</div>
