<div class="sub-main-banner" style="background-image: url(/assets/img/sub-main-banner.jpg)">
  <div class="overlay-half"></div>
  <div class="sub-main-banner-content">
    <div>
      <h1>Pricing</h1>
      <h3><span routerLink="/home">Home /</span> <span style="color: #13E8E9"> Pricing</span></h3>
    </div>
  </div>
</div>

<div class="container article-wrapper">
  <p class="p-1">Welcome to our pricing page, where we offer two types of pricing packages tailored to your web
    development needs. Choose from our Word Press Development Packages or our Advanced Development Packages, each
    designed to provide you with exceptional value.</p>

  <p class="p-1"> For Word Press Development, we offer three packages: Basic, Standard, and Premium. Whether you're
    starting a
    personal blog or launching a small business website, our Word Press packages offer the perfect solutions at
    reasonable prices.</p>

  <p class="p-1"> If you require more advanced development services, our Advanced Development Packages are here to
    exceed your
    expectations. With the same three-tiered structure of Basic, Standard, and Premium, you can trust that our team of
    experts will deliver outstanding results that align with your specific requirements.</p>

  <p class="p-1"> No matter which package you choose, we are committed to providing high-quality web development
    solutions at
    competitive prices. Experience the perfect blend of affordability and excellence with our pricing packages tailored
    to your unique needs.</p>

  <div class="d-flex align-items-center justify-content-center">
    <div class="title-1">Wordpress Packages</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="package-wrapper">
        <div class="package">
          <div class="package-title">Basic (non-profit)
          </div>
          <div class="package-price" style="background-color: blue">$120</div>
          <ul class="package-items-wrapper">
            <li>04 Pages</li>
            <hr>
            <li>Free domain & hosting (1year)</li>
            <hr>
            <li>Domain WHOIS protection</li>
            <hr>
            <li>Free SSL</li>
            <hr>
            <li>Free Business email</li>
            <hr>
            <li>Live chat</li>
            <hr>
            <li>Social media integration</li>
            <hr>
            <li>Email gateway</li>
            <hr>
            <li>Whatsapp or Messenger integration</li>
            <hr>
            <li>SEO optimized</li>
            <hr>
            <li>Mobile responsive</li>
            <hr>
            <li>Unlimited bandwidth</li>
            <hr>
            <li class="not-include">Payment gateways</li>
            <hr>
            <li class="not-include">Weekly backup</li>
            <hr>
            <li class="not-include">Multi language system</li>
            <hr>
            <li class="not-include">Google map integration</li>
            <hr>
            <li>Lifetime support</li>
            <hr>
            <li>1GB Hosting space</li>
            <hr>
            <li class="not-include">Free of service charge</li>
            <hr>
            <li class="not-include">Enhanced DDoS Protection</li>
            <hr>
            <li class="not-include">Firewall</li>
            <li class="d-flex align-items-center justify-content-center">
              <button class="order-now blue" routerLink="/contact">ORDER NOW</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="package-wrapper">
        <div class="package">
          <div class="package-title">Standard (e-commerce)
          </div>
          <div class="package-price" style="background-color: deeppink">$160</div>
          <ul class="package-items-wrapper">
            <li>05 Pages</li>
            <hr>
            <li>Free domain & hosting (1year)</li>
            <hr>
            <li>Domain WHOIS protection</li>
            <hr>
            <li>Free SSL</li>
            <hr>
            <li>Free Business email</li>
            <hr>
            <li>Live chat</li>
            <hr>
            <li>Social media integration</li>
            <hr>
            <li>Email gateway</li>
            <hr>
            <li>Whatsapp or Messenger integration</li>
            <hr>
            <li>SEO optimized</li>
            <hr>
            <li>Mobile responsive</li>
            <hr>
            <li>Unlimited bandwidth</li>
            <hr>
            <li>Payment gateways</li>
            <hr>
            <li>Weekly backup</li>
            <hr>
            <li class="not-include">Multi language system</li>
            <hr>
            <li class="not-include">Google map integration</li>
            <hr>
            <li>Lifetime support</li>
            <hr>
            <li>2GB Hosting space</li>
            <hr>
            <li>03 months free of service charge</li>
            <hr>
            <li>Enhanced DDoS Protection</li>
            <hr>
            <li>Firewall</li>
            <li class="d-flex align-items-center justify-content-center">
              <button class="order-now pink" routerLink="/contact">ORDER NOW</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="package-wrapper">
        <div class="package">
          <div class="package-title">Premium (e-commerce)
          </div>
          <div class="package-price" style="background-color: orange">$300</div>
          <ul class="package-items-wrapper">
            <li>06-10 Pages</li>
            <hr>
            <li>Free domain & hosting (1year)</li>
            <hr>
            <li>Domain WHOIS protection</li>
            <hr>
            <li>Free SSL</li>
            <hr>
            <li>Free Business email</li>
            <hr>
            <li>Live chat</li>
            <hr>
            <li>Social media integration</li>
            <hr>
            <li>Email gateway</li>
            <hr>
            <li>Whatsapp or Messenger integration</li>
            <hr>
            <li>SEO optimized</li>
            <hr>
            <li>Mobile responsive</li>
            <hr>
            <li>Unlimited bandwidth</li>
            <hr>
            <li>Payment gateways</li>
            <hr>
            <li>Weekly backup</li>
            <hr>
            <li>Multi language system</li>
            <hr>
            <li>Google map integration</li>
            <hr>
            <li>Lifetime support</li>
            <hr>
            <li>3GB Hosting space</li>
            <hr>
            <li>06 months free of service charge</li>
            <hr>
            <li>Enhanced DDoS Protection</li>
            <hr>
            <li>Firewall</li>
            <li class="d-flex align-items-center justify-content-center">
              <button class="order-now orange" routerLink="/contact">ORDER NOW</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <div class="title-1">Angular Packages</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="package-wrapper">
        <div class="package">
          <div class="package-title">Basic (non-profit)
          </div>
          <div class="package-price" style="background-color: blue">$280</div>
          <ul class="package-items-wrapper">
            <li>10 Pages</li>
            <hr>
            <li>Fully customized</li>
            <hr>
            <li>Free domain & hosting (1year)</li>
            <hr>
            <li>Domain WHOIS protection</li>
            <hr>
            <li>Free SSL</li>
            <hr>
            <li>Free Business email</li>
            <hr>
            <li>Live chat</li>
            <hr>
            <li class="not-include">Chat bot</li>
            <hr>
            <li>Social media integration</li>
            <hr>
            <li>Email custom API</li>
            <hr>
            <li>Whatsapp or Messenger integration</li>
            <hr>
            <li>SEO optimized</li>
            <hr>
            <li>Mobile responsive</li>
            <hr>
            <li>Unlimited bandwidth</li>
            <hr>
            <li class="not-include">Payment gateways(200000LKR transactions/per month)</li>
            <hr>
            <li class="not-include">Weekly backup</li>
            <hr>
            <li>Node backend</li>
            <hr>
            <li class="not-include">Custom database(5GB)</li>
            <hr>
            <li class="not-include">Google map integration (static-2000 loads/per month)</li>
            <hr>
            <li>Lifetime support</li>
            <hr>
            <li>VPS hosting(backend)</li>
            <hr>
            <li>1GB Hosting space</li>
            <hr>
            <li class="not-include">Free of service charge</li>
            <hr>
            <li>Additional security</li>
            <li class="d-flex align-items-center justify-content-center">
              <button class="order-now blue" routerLink="/contact">ORDER NOW</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="package-wrapper">
        <div class="package">
          <div class="package-title">Standard (e-commerce)
          </div>
          <div class="package-price" style="background-color: deeppink">$350</div>
          <ul class="package-items-wrapper">
            <li>15 Pages</li>
            <hr>
            <li>Fully customized</li>
            <hr>
            <li>Free domain & hosting (1year)</li>
            <hr>
            <li>Domain WHOIS protection</li>
            <hr>
            <li>Free SSL</li>
            <hr>
            <li>Free Business email</li>
            <hr>
            <li>Live chat</li>
            <hr>
            <li class="not-include">Chat bot</li>
            <hr>
            <li>Social media integration</li>
            <hr>
            <li>Email custom API</li>
            <hr>
            <li>Whatsapp or Messenger integration</li>
            <hr>
            <li>SEO optimized</li>
            <hr>
            <li>Mobile responsive</li>
            <hr>
            <li>Unlimited bandwidth</li>
            <hr>
            <li>Payment gateways(200000LKR transactions/per month)</li>
            <hr>
            <li>Weekly backup</li>
            <hr>
            <li>Node backend</li>
            <hr>
            <li>Custom database(5GB)</li>
            <hr>
            <li class="not-include">Google map integration (static-2000 loads/per month)</li>
            <hr>
            <li>Lifetime support</li>
            <hr>
            <li>VPS hosting(backend)</li>
            <hr>
            <li>2GB Hosting space</li>
            <hr>
            <li>03 months free of service charge</li>
            <hr>
            <li>Additional security</li>
            <li class="d-flex align-items-center justify-content-center">
              <button class="order-now pink" routerLink="/contact">ORDER NOW</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="package-wrapper">
        <div class="package">
          <div class="package-title">Premium (e-commerce)
          </div>
          <div class="package-price" style="background-color: orange">$400</div>
          <ul class="package-items-wrapper">
            <li>20 Pages</li>
            <hr>
            <li>Fully customized</li>
            <hr>
            <li>Free domain & hosting (1year)</li>
            <hr>
            <li>Domain WHOIS protection</li>
            <hr>
            <li>Free SSL</li>
            <hr>
            <li>Free Business email</li>
            <hr>
            <li>Live chat</li>
            <hr>
            <li>Chat bot</li>
            <hr>
            <li>Social media integration</li>
            <hr>
            <li>Email custom API</li>
            <hr>
            <li>Whatsapp or Messenger integration</li>
            <hr>
            <li>SEO optimized</li>
            <hr>
            <li>Mobile responsive</li>
            <hr>
            <li>Unlimited bandwidth</li>
            <hr>
            <li>Payment gateways(200000LKR transactions/per month)</li>
            <hr>
            <li>Weekly backup</li>
            <hr>
            <li>Node backend</li>
            <hr>
            <li>Custom database(5GB)</li>
            <hr>
            <li>Google map integration (static-2000 loads/per month)</li>
            <hr>
            <li>Lifetime support</li>
            <hr>
            <li>VPS hosting(backend)</li>
            <hr>
            <li>3GB Hosting space</li>
            <hr>
            <li>06 months free of service charge</li>
            <hr>
            <li>Additional security</li>
            <li class="d-flex align-items-center justify-content-center">
              <button class="order-now orange" routerLink="/contact">ORDER NOW</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <p class="p-1">Unlock the full potential of your website with our customizable packages. If you're looking for
    something more tailored to your needs or require additional features, look no further - we're here to bring your
    vision to life. Contact us today, and let's discuss your unique requirements. Our team of skilled professionals is
    ready to create a website that perfectly aligns with your goals and aspirations.</p>

  <p class="p-1">But that's not all - we don't just stop at web development. We also specialize in crafting stunning
    mobile applications. Take your business to new heights with a personalized mobile app that captivates your audience
    and boosts your brand's presence. Reach out to us, and together we'll explore your project scenario, ensuring that
    every detail is meticulously considered. Rest assured, we'll work closely with you to create a comprehensive budget
    that fits your needs.</p>

  <p class="p-1">At our company, we're not just about offering services – we're about building long-lasting
    partnerships. Let us be your trusted partner in the digital realm, where your ideas transform into exceptional
    digital experiences. Contact us now, and let's embark on an exciting journey of turning your dreams into
    reality.</p>
</div>
